h3 Ваш профиль

br

.form_custom
  = simple_form_for @profile, url: update_profile_provider_path, method: :post do |f|
    = f.input :name, label: 'Ваше имя', input_html: {class: 'form-control'}
    = f.input :phone, label: 'Телефон (будет показан клиенту после его согласия)', input_html: {class: 'form-control'}
    = f.input :service_id, as: :select, collection: Service.all.map{|s| [s.name, s.id]}, include_blank: false, label: 'Какую услугу вы оказываете?', input_html: {class: 'form-control'}
    = f.input :description, as: :text, label: 'Опишите свои услуги', input_html: {class: 'form-control'}
    = f.input :urls, as: :text, label: 'Укажите ссылки на ваши работы через ";"', input_html: {class: 'form-control'}
    = f.submit 'Обновить профиль'
