h3 Заявки

table.table
  tr
    td Дата
    td Цена
    td Описание
    td
  - @requests.each do |r|
    tr
      /td = r.date
      td 09/05/2014
      td = r.max_price
      td Нужен классный #{r.service.name.mb_chars.downcase}
      td
        = link_to 'Откликнуться', accept_request_provider_path(id: r.id), method: :post, class: 'btn btn-success'
        br
        = link_to 'Не интересно', reject_request_provider_path(id: r.id), method: :post, class: 'btn btn-danger'

        br
        = link_to 'В чат!', talk_request_path(r), class: 'btn'



