h2.inline-block Добро пожаловать!
h5.plan-msg Ваш план: тестовый период (осталось 30 дней)
.clearfix

br

ul class="nav nav-tabs" id="myTab"
  li class="active"
    a href="#profile" data-toggle="tab" Профиль
  li
    a href="#offer" data-toggle="tab" Заявки


div class="tab-content"
  div class="tab-pane active" id="profile"
    = render 'profile'
  div class="tab-pane " id="offer"
    = render 'requests'





