<h2>Переслать инструкции</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.submit "Отправить", class: 'btn' %></div>
<% end %>

<%= render "devise/shared/links" %>
