h1 Личный кабинет

h3.short
  | Заявки
  /i.fa.fa-plus-circle
table.table
  tr
    td Вам нужен
    td Дата
    td Цена
    td
    td
  - @requests.each do |r|
    tr
      td = r.service.name
      /td = r.date
      td 09/05/2014
      td = r.max_price
      td
        - if ProviderFeedback.where(request_id: r.id, state: 'accepted').any?
          = link_to 'Есть отозвавшиеся! Обсудить с исполнителем', talk_request_path(r), class: 'btn btn-primary btn-xs long'
      td = link_to 'Отозвать заявку', '#', class: 'btn btn-warning btn-xs'

= link_to 'Создать новую заявку', new_request_path, class: 'btn btn-success btn-lg grey'
/i.fa.fa-plus-circle
