h1
  |Кого вы ищете?
h2.subtitle
  | Бесплатный поиск подрядчиков на любое мероприятие.

.fields_block
  = simple_form_for @request, html: {class: 'form-inline'} do |f|
    .form-group
      = f.input :service_id, collection: @services, include_blank: false, label: 'Мне нужен' ,input_html: {class: 'form-control'}
      = f.input :max_price, label: 'Цена:', input_html: {class: 'form-control'}
      = f.input :date, as: :string, label: 'Дата мероприятия:', input_html: { class: 'datepicker' }
    = f.submit 'Найти', class: 'btn btn-theme'


#carousel-example-generic.carousel.slide data-ride="carousel"
  ol class="carousel-indicators"
    li data-target="#carousel-example-generic" data-slide-to="0" class="active"
    /li data-target="#carousel-example-generic" data-slide-to="1"
    /li data-target="#carousel-example-generic" data-slide-to="2"
    /li data-target="#carousel-example-generic" data-slide-to="3"

  div class="carousel-inner"
    div class="item active"
      .item_wrap
        = image_tag "slide1.jpg"
        .rating
          | Рейтинг: &nbsp;
          /span.glyphicon.glyphicon-star 5stars
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
        .profy
          | Опыт: &nbsp;
          span 7 лет
        .profy
          | Отзывов: &nbsp;
          span 167

      .item_wrap
        = image_tag "slide2.jpg"
        .rating
          | Рейтинг: &nbsp;
          /span.glyphicon.glyphicon-star 5stars
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
        .profy
          | Опыт: &nbsp;
          span 5 лет
        .profy
          | Отзывов: &nbsp;
          span 98
      .item_wrap
        = image_tag "slide3.jpg"
        .rating
          | Рейтинг: &nbsp;
          /span.glyphicon.glyphicon-star 5stars
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
        .profy
          | Опыт: &nbsp;
          span 11 лет
        .profy
          | Отзывов: &nbsp;
          span 270

      .item_wrap
        = image_tag "slide4.jpg"
        .rating
          | Рейтинг: &nbsp;
          /span.glyphicon.glyphicon-star 5stars
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
        .profy
          | Опыт: &nbsp;
          span 6 лет
        .profy
          | Отзывов: &nbsp;
          span 175

    div class="item"
      .item_wrap
        = image_tag "slide4.jpg"
        .rating
          | Рейтинг: &nbsp;
          /span.glyphicon.glyphicon-star 5stars
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
        .profy
          | Опыт: &nbsp;
          span 7 лет
        .profy
          | Отзывов: &nbsp;
          span 167

      .item_wrap
        = image_tag "slide3.jpg"
        .rating
          | Рейтинг: &nbsp;
          /span.glyphicon.glyphicon-star 5stars
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
        .profy
          | Опыт: &nbsp;
          span 5 лет
        .profy
          | Отзывов: &nbsp;
          span 98
      .item_wrap
        = image_tag "slide2.jpg"
        .rating
          | Рейтинг: &nbsp;
          /span.glyphicon.glyphicon-star 5stars
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
        .profy
          | Опыт: &nbsp;
          span 11 лет
        .profy
          | Отзывов: &nbsp;
          span 270

      .item_wrap
        = image_tag "slide1.jpg"
        .rating
          | Рейтинг: &nbsp;
          /span.glyphicon.glyphicon-star 5stars
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
        .profy
          | Опыт: &nbsp;
          span 6 лет
        .profy
          | Отзывов: &nbsp;
          span 175


