#header
  //background: image-url('main-bg1.jpg') no-repeat center top



  //background: image-url('main-bg1.jpg') no-repeat
  background: asset-url('main-bg2.jpg') no-repeat


  //3
  //background: image-url('main-bg3.jpg') no-repeat
  //background-position-y: -169px


  // all
  background-size: cover
$orange: #FD680E

$input_height: 43px
$input_width: 300px

$blue: #486A9C

$default_color: #555

@mixin orange
  color: white
  background-color: #FD680E
  border-color: #FD680E

@mixin radius($r)
  border-radius: $r

// FORMS
form
  label
    color: #fff
    //height: $input_height

  select
    height: $input_height
.btn, [type="submit"]
  color: white
  background-color: #FD680E
  border-color: #FD680E
  margin-bottom: 10px
  &:hover
    color: white
    //background-color: #444
    background-color: $blue
    border-color: #444

.form-control
  height: $input_height

.fields_block
  width: 100%
  +radius(4px)
  padding: 4px
  border: 1px solid #141414
  background: rgba(0, 0, 0, 0.55)
  display: inline-block
  label

    padding: 0px 16px
    line-height: 40px
    background: white
    margin: 0px 5px 0px 0px
    height: $input_height
    color: #000
    float: left
    +radius(4px)
  .btn
    height: $input_height
  label, input, select
    margin: 0px 5px 0px 0px
  .btn
    margin-right: 0px

    //max-width: 100px
    //width: 11%
    width: 124px

  .input
    float: left
  input
    height: $input_height
.datepicker-days
  table td
    color: black
.btn
  min-width: 100px


.fa-star
  color:  #F8E400



a
  color: #fff

.big_orange
  +orange

.navbar-inverse .navbar-nav > li > a
  color: #fff

input, select, .btn
  height: $input_middle
  +radius(4px)


  padding: 6px 12px
  font-size: 14px
  line-height: 1.428571429

  background-image: none
  border: 1px solid #CCC
  border-radius: 4px
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s

  width: $input_width
.form-control
  width: $input_width

input, select
  color: #555

.btn
  margin-top: 10px
  border: 1px solid

input[type="checkbox"]
  width: 16px
  height: 15px

h1, h3, h4
  color: white

h2
  color: $default_color

table
  td
    color: white

#carousel-example-generic
  background: rgba(26, 26, 26, 0.66)
  border: 1px solid #141414
  background: rgba(0, 0, 0, 0.55)
  padding: 11px
  border-radius: 6px
  margin-top: 10px

.item
  img
    float: left
    margin-right: 20px
    +radius(4px)
  .rating, .profy
    color: #fff
.item_wrap
  float: left
  width: 255px

  //background-color: rgba(163, 163, 163, 0.39)
  background-color: rgba(26, 25, 25, 0.5)
  //background-color: rgba(9, 8, 8, 0.39)
  padding: 3px
  +radius(4px)
  margin-right: 32px

.item.active
  .item_wrap:last-child
    margin-right: 0px
#request_date
  width: 207px
#request_service_id
  //width: 217px
  width: 210px

input[type="checkbox"]
  margin-top: 25px
[for="user_remember_me"]
  line-height: 7px


html, body
  height: 100%

#header
  min-height: 100%
  height: auto
  margin-bottom: -50px
footer
  padding: 10px 0 5px
  .container
    height: 30px

.carousel-indicators
  li
    display: none




#inner_pages
  p, div, h1, h2, h3, h4, td
    color: $default_color

table.table > tbody > tr > td
  vertical-align: middle
  .btn-warning
    margin: 0px

//.light_wrapper
//  background-color: rgba(236, 235, 235, 0.59)

.inner_wrap#header
  //padding-top: 52px

  padding-top: 72px

  background: none

//.light_wrapper_fixed
//
//  background-color: rgba(236, 235, 235, 0.59)
//  height: 100%
//  width: 100%
//  position: fixed
//  top: -70px
.inner_wrap#header::after
  content: ""
  //background: url(image.jpg)
  opacity: 0.5
  top: 0
  left: 0
  bottom: 0
  right: 0
  position: absolute
  z-index: -1

.form_custom

  select, input, label, textarea
    //width: 100%
    color: $default_color
  select, input, textarea

    width: 30%
  [type="submit"]
    color: #fff
  select, input
    height: 34px

  label
    //width: 207px
    width: 100%
    float: left
    font-size: 14px
    line-height: 15px
  .input
    overflow: hidden
    margin-bottom: 17px
  //textarea
  //  border: none
.inline-block
  display: inline-block
  float: left
.plan-msg
  float: right
  margin-top: 29px
.buffer
  height: 95px
.nav-tabs
  a
    color: $default_color

.tab-content
  background-color: white
  padding: 5px
  border: 1px solid #CCC
  border-top: none

  //border-radius: 5px
  //&:first-child
  //  border-top-left-radius: 0px
  .tab-pane
    padding: 10px
.btn.long
  width: 329px
#message-text
  width: 58%
  margin-bottom: 20px
.fields_block
  #new_request
    height: 43px


#layout_simple
  h1, h2, h3, h4
    color: #fff
.fa.fa-plus-circle
  font-size: 35px

h3.short
  line-height: 32px
  display: table
.btn.grey
  background-color: #444