/.form_custom
/  = simple_form_for @request do |f|
/    .form-group
/      = f.input :service_id, collection: Service.all.map{|s| [s.name, s.id] }, include_blank: false, label: 'Мне нужен' ,input_html: {class: 'form-control'}
/      = f.submit 'Найти'

.fields_block
  = simple_form_for @request, html: {class: 'form-inline'} do |f|
    .form-group
      = f.input :service_id, collection: Service.all.map{|s| [s.name, s.id] }, include_blank: false, label: 'Мне нужен' ,input_html: {class: 'form-control'}
      = f.input :max_price, label: 'Цена:', input_html: {class: 'form-control'}
      = f.input :date, as: :string, label: 'Дата мероприятия:', input_html: { class: 'datepicker' }
    = f.submit 'Найти', class: 'btn btn-theme'
