h3 Обсуждение заявки "#{@request.service.name}"

#chat
  #chat-messages.well style="height: 500px; overflow: scroll"

  .form_custom
    #message-form
      = form_tag send_message_request_path, method: :post, remote: true do
        = text_field_tag :message, '', id: 'message-text', input_html: {class: 'form-control'}
        .clearfix
        = hidden_field_tag :request_id, @request.id
        - from = client_signed_in? ? 'Заказчик' : 'Подрядчик'
        = hidden_field_tag :from, from
        = submit_tag 'Отправить'

        - if client_signed_in?
          = link_to 'Показать контакты', '#', id: 'showContacts', class: 'btn', style: 'margin-left: 18px;margin-top: 7px;'

javascript:
  Danthes.debug = true
= subscribe_to "/messages/new/#{@request.id}"
javascript:
  $(function() {
    Danthes.subscribe("/messages/new/#{@request.id}", function(data, channel) {
      $('#chat-messages').append('<span class="message">' + '<b>' + data.from + ':<b/>&nbsp;' + data.chat_message + '</span><br/>');
    });

    $('#showContacts').click(function () {
      $('#showContacts').html('+7 951 23 78 13 (Валера)');
      $('#showContacts').addClass('btn-success');
    });
  });
