<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="assets/img/favicon.png">

  <title>Evenduck</title>

  <%= stylesheet_link_tag "main/application", media: "all", "data-turbolinks-track" => true %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>

<body>

<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%= t('brand') %></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            <li><%= link_to 'Выйти', destroy_user_session_path, method: :delete %></li>
        <% else %>
            <li><%= link_to 'Зарегистрироваться', new_user_registration_path %></li>
            <li><%= link_to 'Войти', new_user_session_path %></li>
            <li><%= link_to 'Я хочу предоставлять услуги', new_user_registration_path(provider: true), class: 'big_orange' %></li>
        <% end %>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>

<div id="header" class="inner_wrap">

    <div class="light_wrapper">
        <div id="inner_pages" class="container">
            <div class="row">
              <div class="col-lg-12">

                <!--MAIN CONTENT-->
                <%= yield %>

              </div>


              <!-- RIGHT BLOCK-->
              <!--<div class="col-lg-4 col-lg-offset-2">-->


            </div>
        </div>


      <div class="buffer"></div>
    </div>
  <div class="light_wrapper_fixed"></div>


</div>
<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <p class="copyright">Copyright &copy; 2014 -
          <%= t('brand') %>
        </p>
      </div>
    </div>
  </div>
</div>

<!--<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>-->
<!--<script src="assets/js/bootstrap.min.js"></script>-->
</body>
</html>
